{% extends "partials/base.html" %}
{% from "bootstrap5/form.html" import render_form %}
{% block content %}


<main class="mb-4 d-flex align-items-center min-vh-100">
    <div class="container px-lg-5 px-4">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-5 col-xl-6">


                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show text-center mt-4" role="alert"
                     id="flash-message-{{ loop.index }}">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                </div>
                <script>
                    setTimeout(function () {
                        const msg = document.getElementById("flash-message-{{ loop.index }}");
                        if (msg) {
                            msg.style.display = "none";
                        }
                    }, 5000);
                </script>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <h2 class="text-center mb-3">Login</h2>
                <div class="mt-4 p-4 rounded shadow-sm bg-white">
                    {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}